USE [master]
GO
/****** Object:  Database [TECHSHOP]    Script Date: 1/12/2021 10:16:07 AM ******/
CREATE DATABASE [TECHSHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TECHSHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TECHSHOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TECHSHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TECHSHOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TECHSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TECHSHOP]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[ID] [varchar](10) NOT NULL,
	[SANPHAM] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [CHITIETHOADON_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[LUONG] [int] NULL,
	[THONGTIN] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [varchar](10) NOT NULL,
	[NGAYTAO] [date] NULL,
	[NHANVIEN] [varchar](10) NULL,
	[KHACHHANG] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [int] NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[MAGIOITHIEU] [int] NULL,
	[NGAYTHAMGIA] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[TINH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAU]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAU](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](20) NULL,
	[MAMAU] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[TINH] [varchar](10) NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[THONGTIN] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [int] NULL,
	[SDT] [varchar](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[NGAYLAMVIEC] [date] NULL,
	[HESO] [float] NULL,
	[PHUCAP] [int] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[TINH] [varchar](10) NULL,
	[CONGVIEC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[GIA] [int] NULL,
	[DAI] [float] NULL,
	[RONG] [float] NULL,
	[CAO] [float] NULL,
	[MAU] [varchar](10) NULL,
	[KHOILUONG] [float] NULL,
	[SOLUONG] [int] NULL,
	[NGAYNHAP] [date] NULL,
	[THONGTIN] [nvarchar](1000) NULL,
	[LOAISANPHAM] [varchar](10) NULL,
	[NHACUNGCAP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 1/12/2021 10:16:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINH](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[QUOCGIA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETHOADON] ([ID], [SANPHAM], [SOLUONG]) VALUES (N'HD1', N'SP1', 1)
INSERT [dbo].[CHITIETHOADON] ([ID], [SANPHAM], [SOLUONG]) VALUES (N'HD1', N'SP3', 1)
INSERT [dbo].[CHITIETHOADON] ([ID], [SANPHAM], [SOLUONG]) VALUES (N'HD14286878', N'SP29993973', 2)
GO
INSERT [dbo].[CONGVIEC] ([ID], [TEN], [LUONG], [THONGTIN]) VALUES (N'CV1', N'Quản kho', 4000000, N'')
INSERT [dbo].[CONGVIEC] ([ID], [TEN], [LUONG], [THONGTIN]) VALUES (N'CV2', N'Giữ xe', 2200000, N'')
INSERT [dbo].[CONGVIEC] ([ID], [TEN], [LUONG], [THONGTIN]) VALUES (N'CV3', N'Trông hàng', 3200000, N'')
GO
INSERT [dbo].[HOADON] ([ID], [NGAYTAO], [NHANVIEN], [KHACHHANG]) VALUES (N'HD1', CAST(N'2020-01-02' AS Date), N'NV1', N'KH5')
INSERT [dbo].[HOADON] ([ID], [NGAYTAO], [NHANVIEN], [KHACHHANG]) VALUES (N'HD14286878', CAST(N'2020-12-02' AS Date), N'NV1', N'KH4')
INSERT [dbo].[HOADON] ([ID], [NGAYTAO], [NHANVIEN], [KHACHHANG]) VALUES (N'HD2', CAST(N'2020-02-03' AS Date), N'NV1', N'KH4')
GO
INSERT [dbo].[KHACHHANG] ([ID], [TEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [MAGIOITHIEU], [NGAYTHAMGIA], [DIACHI], [TINH]) VALUES (N'KH1', N'Nguyễn Thị Như Quỳnh', CAST(N'1997-11-12' AS Date), 1, N'0965412147', N'ntnq@gmail.com', 1225744, CAST(N'2019-08-07' AS Date), N'72 Hùng Vương, Quang Trung', N'T1')
INSERT [dbo].[KHACHHANG] ([ID], [TEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [MAGIOITHIEU], [NGAYTHAMGIA], [DIACHI], [TINH]) VALUES (N'KH2', N'Phạm Thanh Hai', CAST(N'1995-10-10' AS Date), 0, N'0367899841', N'hai95@gmail.com', 133445, CAST(N'2019-09-10' AS Date), N'66 Nguyễn Tất Thành, Duy Tân', N'T1')
INSERT [dbo].[KHACHHANG] ([ID], [TEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [MAGIOITHIEU], [NGAYTHAMGIA], [DIACHI], [TINH]) VALUES (N'KH3', N'Bành Kỳ Kỳ', CAST(N'1994-06-01' AS Date), 0, N'0965412147', N'banhvanky1994@gmail.com', 1225744, CAST(N'2019-08-07' AS Date), N'68 Hùng Vương, Quang Trung', N'T1')
GO
INSERT [dbo].[LOAISANPHAM] ([ID], [TEN]) VALUES (N'LSP1', N'Laptop')
INSERT [dbo].[LOAISANPHAM] ([ID], [TEN]) VALUES (N'LSP2', N'Điện thoại')
INSERT [dbo].[LOAISANPHAM] ([ID], [TEN]) VALUES (N'LSP3', N'Loa')
GO
INSERT [dbo].[MAU] ([ID], [TEN], [MAMAU]) VALUES (N'M1', N'Đỏ', N'ff1100')
INSERT [dbo].[MAU] ([ID], [TEN], [MAMAU]) VALUES (N'M2', N'Đen', N'000000')
INSERT [dbo].[MAU] ([ID], [TEN], [MAMAU]) VALUES (N'M3', N'Trắng', N'ffffff')
GO
INSERT [dbo].[NHACUNGCAP] ([ID], [TEN], [DIACHI], [TINH], [SDT], [EMAIL], [THONGTIN]) VALUES (N'NCC1', N'Samsung', N'99 Trần Phú, Duy Tân', N'T4', N'098833245', N'samsungkontum@gmail.com', N'')
INSERT [dbo].[NHACUNGCAP] ([ID], [TEN], [DIACHI], [TINH], [SDT], [EMAIL], [THONGTIN]) VALUES (N'NCC2', N'Apple', N'225 WasterLane, Wlingster', N'T5', N'0666547874', N'appleinc@gmail.com', N'')
INSERT [dbo].[NHACUNGCAP] ([ID], [TEN], [DIACHI], [TINH], [SDT], [EMAIL], [THONGTIN]) VALUES (N'NCC3', N'VSmart', N'222 Nguyễn Sinh Thành, Bình Trắc', N'T1', N'0366987441', N'VsmartHanoi@gmail.com', N'')
GO
INSERT [dbo].[NHANVIEN] ([ID], [TEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [NGAYLAMVIEC], [HESO], [PHUCAP], [DIACHI], [TINH], [CONGVIEC]) VALUES (N'NV1', N'Puith Naly', CAST(N'2000-10-30' AS Date), 1, N'0398422145', N'lyyeudau@gmail.com', CAST(N'2019-12-22' AS Date), 1, 300000, N'22 Không biết, Ở đâu', N'T3', N'CV4')
INSERT [dbo].[NHANVIEN] ([ID], [TEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [NGAYLAMVIEC], [HESO], [PHUCAP], [DIACHI], [TINH], [CONGVIEC]) VALUES (N'NV2', N'Lê Hạnh', CAST(N'2000-06-12' AS Date), 1, N'0987541124', N'hanhdepgai@gmail.com', CAST(N'2020-01-12' AS Date), 1, 250000, N'1 Không biết, Ở đâu', N'T3', N'CV3')
INSERT [dbo].[NHANVIEN] ([ID], [TEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [NGAYLAMVIEC], [HESO], [PHUCAP], [DIACHI], [TINH], [CONGVIEC]) VALUES (N'NV3', N'Rmar Sê', CAST(N'2000-11-09' AS Date), 0, N'0398756412', N'smarsee@gmail.com', CAST(N'2020-01-31' AS Date), 1, 240000, N'Gia Lei', N'T3', N'CV2')
GO
INSERT [dbo].[QUOCGIA] ([ID], [TEN]) VALUES (N'QG1', N'Việt Nam')
INSERT [dbo].[QUOCGIA] ([ID], [TEN]) VALUES (N'QG2', N'Lào')
INSERT [dbo].[QUOCGIA] ([ID], [TEN]) VALUES (N'QG3', N'Campuchia')
GO
INSERT [dbo].[SANPHAM] ([ID], [TEN], [GIA], [DAI], [RONG], [CAO], [MAU], [KHOILUONG], [SOLUONG], [NGAYNHAP], [THONGTIN], [LOAISANPHAM], [NHACUNGCAP]) VALUES (N'SP1', N'Lenovo Ideapad S145 - 14API/R3 3200U', 8320000, 327.1, 241, 19, N'M3', 1.6, 12, CAST(N'2019-05-10' AS Date), N'', N'LSP1', N'NCC4')
INSERT [dbo].[SANPHAM] ([ID], [TEN], [GIA], [DAI], [RONG], [CAO], [MAU], [KHOILUONG], [SOLUONG], [NGAYNHAP], [THONGTIN], [LOAISANPHAM], [NHACUNGCAP]) VALUES (N'SP2', N'Asus TUF FX505DT HN478T R7 3750H/8GB/512GB SSD/Win10', 19490000, 360, 262, 26, N'M2', 2.2, 6, CAST(N'2020-10-16' AS Date), N'', N'LSP1', N'NCC5')
INSERT [dbo].[SANPHAM] ([ID], [TEN], [GIA], [DAI], [RONG], [CAO], [MAU], [KHOILUONG], [SOLUONG], [NGAYNHAP], [THONGTIN], [LOAISANPHAM], [NHACUNGCAP]) VALUES (N'SP29993973', N'Iphone 12 Pro Max', 29790000, 102, 72, 11, N'M2', 0.21, 19, CAST(N'2020-12-02' AS Date), N'', N'LSP2', N'NCC2')
GO
INSERT [dbo].[TINH] ([ID], [TEN], [QUOCGIA]) VALUES (N'T1', N'Hà Nội', N'QG1')
INSERT [dbo].[TINH] ([ID], [TEN], [QUOCGIA]) VALUES (N'T2', N'hồ Chí Minh', N'QG1')
INSERT [dbo].[TINH] ([ID], [TEN], [QUOCGIA]) VALUES (N'T3', N'Gia Lai', N'QG1')
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CHITIETHOADON_ID_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CHITIETHOADON_ID_FK]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CHITIETHOADON_SANPHAM_FK] FOREIGN KEY([SANPHAM])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CHITIETHOADON_SANPHAM_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_KHACHHANG_FK] FOREIGN KEY([KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_KHACHHANG_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_NHANVIEN_FK] FOREIGN KEY([NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_NHANVIEN_FK]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [KHACHHANG_TINH_FK] FOREIGN KEY([TINH])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [KHACHHANG_TINH_FK]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [NHACUNGCAP_TINH_FK] FOREIGN KEY([TINH])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [NHACUNGCAP_TINH_FK]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [NHANVIEN_CONGVIEC_FK] FOREIGN KEY([CONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [NHANVIEN_CONGVIEC_FK]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [NHANVIEN_TINH_FK] FOREIGN KEY([TINH])
REFERENCES [dbo].[TINH] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [NHANVIEN_TINH_FK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [SANPHAM_LOAISANPHAM_FK] FOREIGN KEY([LOAISANPHAM])
REFERENCES [dbo].[LOAISANPHAM] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [SANPHAM_LOAISANPHAM_FK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [SANPHAM_MAU_FK] FOREIGN KEY([MAU])
REFERENCES [dbo].[MAU] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [SANPHAM_MAU_FK]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [SANPHAM_NHACUNGCAP_FK] FOREIGN KEY([NHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [SANPHAM_NHACUNGCAP_FK]
GO
ALTER TABLE [dbo].[TINH]  WITH CHECK ADD  CONSTRAINT [TINH_QUOCGIA_FK] FOREIGN KEY([QUOCGIA])
REFERENCES [dbo].[QUOCGIA] ([ID])
GO
ALTER TABLE [dbo].[TINH] CHECK CONSTRAINT [TINH_QUOCGIA_FK]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [KHACHHANG_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [KHACHHANG_GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [NHANVIEN_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [NHANVIEN_GIOITINH]
GO
USE [master]
GO
